.cat-sec{
    background-color: #F7F6F2;
}
.cat-full{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
}

.cat-right{
    width: 120%;
    margin: auto;
}
.cat-right img{
    width: 110%;
    transform: scaleX(-1)
}
.cat-left{
    margin: auto;
   
}
.cat-left h2{
    font-size: 2.8rem;
    font-family: 'Akaya Kanadaka', cursive;
}
.cat-left p{
    margin-top: 1.1rem;
    font-size: 1.3rem;
}
.cat-left button{
    margin-top: 1rem;
    padding: 8px 20px;
    background-color: #063547;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.cat-left button:hover{
    background-color: #0484b7;
}




.filter-gallery{
    padding: 100px;
}
.portfolio-menu{
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding:10px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}
.portfolio-menu ul li:hover{
    color: #fff;
    background:#e74c3c;
    border-radius: 8px;
}
li.active{
    color: #fff;
    background:#e74c3c;
    border-radius: 8px;
}
.portfolio-item{
    width: 100%;
}
.portfolio-item .item{
    width: 360px;
    height: 360px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.portfolio-item .item img{
    
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.portfolio-item .item img:hover{
    transform: scale(1.0);
}



@media (max-width: 760px){
       .cat-full{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: auto;
    }
    .cat-right{
        width: 100%;
        margin: auto;
    }
    .cat-right img{
        width: 100%;
    }
    .cat-left{
        margin-top: 2rem;
        align-items:center;
       justify-content: center;
       text-align: center;
       
    }
    

    
}